<div class="container-contact100" xmlns="http://www.w3.org/1999/html">
  <div class="wrap-contact100">
    <%= form_tag contacts_path, :class => 'contact100-form validate-form', method: 'post' do %>
      <div class="error bg-danger text-white mb-3 px-1 rounded"></div>
      <div class=" contact100-form-title text-center">
        <h6> <%= t('label.click_on_link') %></h6>
      </div>
      <span class="contact100-form-title link-color">
        <p><span class="mr-3"><%= link_to 'English', root_path(locale: :en) %></span>
          <span><%= link_to 'Русский', root_path(locale: :ru) %></span></p>
				</span>
      <span class="contact100-form-title">
        <p><%= I18n.t('label.send_us_message') %></p>
				</span>
      <label class="label-input100" for="first-name"><%= t('label.tell_us_your_name') %></label>
      <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="<%= t('warning_message.type_first_name') %>">
        <%= text_field_tag 'first_name', @contact.first_name, class: 'input100', placeholder: t('placeholder.firs_name') %>
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="<%= t('warning_message.type_last_name') %>">
        <%= text_field_tag 'last_name', @contact.last_name, class: 'input100', placeholder: t('placeholder.last_name') %>
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="email"><%= t('label.enter_your_email') %></label>
      <div class="wrap-input100 validate-input" data-validate="<%= t('warning_message.valid_email') %>">
        <%= text_field_tag 'email', @contact.email, class: 'input100', placeholder: t('placeholder.email_example') %>
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="phone"><%= t('label.enter_phone_number') %></label>
      <div class="wrap-input100 validate-input" data-validate="<%= t('warning_message.type_valid_number') %>">
        <%= text_field_tag 'phone_number', @contact.phone_number, class: 'input100', placeholder: t('placeholder.phone_example') %>
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="message"><%= t('label.message') %></label>
      <div class="wrap-input100 validate-input" data-validate="<%= t('warning_message.message_requirement') %>">
        <%= text_area_tag 'message', @contact.message, class: 'input100', placeholder: t('placeholder.message_info') %>
        <span class="focus-input100"></span>
      </div>
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn">
          <%= t('button.send_message') %>
        </button>
      </div>
    <% end %>
    <div class="contact100-more flex-col-c-m" style="background-image: url('ContactFrom_v17/images/bg-01.jpg');">
      <div class="flex-w size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-map-marker"></span>
        </div>

        <div class="flex-col size2">
						<span class="txt1 p-b-20">
							<%= t('label.address') %>
						</span>

          <span class="txt2">
							<%= t('label.address_details') %>
						</span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-phone-handset"></span>
        </div>

        <div class="flex-col size2">
						<span class="txt1 p-b-20">
							<%= t('label.lets_talk') %>
						</span>

          <span class="txt3">
							<%= t('label.contact_number') %>
						</span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-envelope"></span>
        </div>

        <div class="flex-col size2">
						<span class="txt1 p-b-20">
								<%= t('label.general_support') %>
						</span>

          <span class="txt3">
								<%= t('label.contact_email') %>
						</span>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="dropDownSelect1"></div>




