<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h4><%= I18n.t('contact_mailer.contact_email.heading') %></h4>
<p>
  <%= @contact.full_name %> <%= I18n.t('contact_mailer.contact_email.content') %>
</p>
<p>
  <%= I18n.t('contact_mailer.contact_email.email_id') %> <%= @contact.email %>
</p>
<p><%= I18n.t('contact_mailer.contact_email.thank_you') %></p>
</body>
</html>
