<!DOCTYPE html>
<html>
  <head>
    <title>ContactForm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
  <%= render partial: 'layouts/header_page' %>
    <%= yield %>
  </body>
<footer>
 <%= render partial: 'layouts/footer' %>
</footer>
</html>
